
@model IEnumerable<HTTP5101_Assignment3.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>Teacher List</h2>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Employee Number</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var teacher in Model)
        {
        <tr>
            <th scope="row">
                @teacher.TeacherId
            </th>
            <td>
                <a href="/Teacher/Show/@teacher.TeacherId">@teacher.EmployeeNumber</a>
            </td>
            <td>
                <a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a>
            </td>

        </tr>

                }


        </tbody>
</table>


